body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

div1 ul {
  list-style-type: none;
  padding: 0;
}

div1 li {
  display: inline;
  margin-right: 20px;
}

div1 a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

.content-section {
  display: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.gallery {
  margin: 20px;
  border: 3px solid transparent;
  float: left;
  width: 180px;
}
div.desc {
  padding: 15px;
  text-align: center;
}
